@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap');
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "PT Sans", sans-serif;
  --third-family: "Potta One", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

#nav li a {
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #353535;
    padding: 18px 20.5px;
    position: relative;
}

#nav li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #353535;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}

#nav li a:hover::after {
    visibility: visible;
    opacity: 1;
    width: 100%;
}
#hero{
    margin-top: 30px;
}


#hero .content span {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #353535;
padding: 10px 0;
}
#hero .content h1 {
    font-family: var(--second-family);
font-weight: 700;
font-size: 64px;
color: #353535;
}
#hero .content p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 180%;
color: #353535;
}
#hero .content .hero-btn {
    display: flex;
    gap: 20px;
}
#hero .content .hero-btn a{
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 180%;

border-radius: 20px;
}
#hero .content .hero-btn .btn-1{
    background: #FFCC00;
    color: #fff;
    padding: 18px 43px;
    cursor: pointer;

}
#hero .content .hero-btn a svg{
    margin-left: 5px;
}
#hero .content .hero-btn .btn-2{
    background: transparent;
    color: #353535;
    border: 1px solid #353535;
    padding: 16px 20px;
}
#hero .icon ul{
    display: flex;
    gap: 10px;
    margin:0;
}
#hero .social-icon {
    display: flex;
    align-items: center;
}
#hero .social-icon a{
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    background:  #f4f3f3;
}
#about{
    margin-top: 100px;
}
#about .container {
      background-image: linear-gradient(to right, #FFCC00, #FFF5CB);
    border-radius: 20px;  
}
#about .image{
    padding: 80px 0 0 0;
}

#about .content p{
   font-family: var(--second-family);
font-weight: 700;
font-size: 50px;
color: #353535;
padding-top: 80px;

}
#about .content h5{
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 190%;
color: #353535;
padding: 26px 0 45px 0;
}
#about .content a{
    padding: 17px 43px;
    border: #353535 1px solid;
    font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 180%;
color: #353535;
border-radius: 20px;
background: transparent;
}
#about .circle{
 position: absolute;
 bottom: 0;
 right: 70px;  
}
#card .img{
    width:60px;
    height:60px;
}
#card .logo-card{
    margin-top: 40px;
}
#card h2{
    font-family: var(--font-family);
font-weight: 600;
font-size: 22px;
line-height: 180%;
text-align: center;
color: #353535;
padding: 10px 0 10px 0;
}
#card h4{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 190%;
text-align: center;
color: #7a7a7a;
padding-bottom: 27px;
}
#card .card-item{
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    margin: 0 5px 0px 10px !important;
}
#branding{
    margin-top: 100px;
}
#branding .container {
      background-image: linear-gradient(to right, #FFCC00, #FFF5CB);
    border-radius: 20px;  
}
#branding .image{
    padding: 80px 0 0 0;
}

#branding .content p{
   font-family: var(--second-family);
font-weight: 700;
font-size: 50px;
color: #353535;
padding-top: 80px;

}
#branding .content h5{
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 190%;
color: #353535;
padding: 26px 0 45px 0;
}
#branding .content a{
    padding: 17px 43px;
    border: #353535 1px solid;
    font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 180%;
color: #353535;
border-radius: 20px;
background: transparent;
}