@media (max-width: 768px) {
    #nav{
        padding: 20px 10px !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    #nav .menu{
        font-size: 35px;
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
    }
    .offcanvas-start{
        max-width: 80%; 
    }
    #hero .content span {
        display: inline-block;
padding-top: 20px;
font-size: 18px;
text-align: center;
margin-left: 70px;
    }
    #hero .content h1 {
font-size: 48px;
text-align: center;
}
#hero .content p{   
font-size:14px;
text-align: center;
opacity: 0.8;
}
#hero .content .hero-btn{
    flex-direction:column;
}
#hero .content .hero-btn a{
    text-align: center;
}
#hero .social-icon{
    justify-content: center;
    align-items: center;
}
#hero .icon ul{
    gap:10px;
}
#about{
    margin: 0;
}

#about .image{
    transform: scaleX(-1);
    padding-right: 100px;
    padding-top: 0px;
}
#about .content p{  
font-size: 30px;
}
#about .content h5{
font-size: 16px;
}
#about .content a{
font-size: 12px;
 flex-direction: column;
}
#about .circle {
    visibility: hidden;
}
#card .container ,#card .row{
  margin: 0 !important;
}
#card .card-item{
    margin: 0 5px 20px 10px !important;
}
#branding{
    margin: 0;
}

#branding .image{
    padding-right: 50px;
    padding-top: 10px;
}
#branding .content p{  
font-size: 30px;
}
#branding .content h5{
font-size: 16px;
}
#branding .content a{
font-size: 12px;
 flex-direction: column;
}
}